<p id="notice"><%= notice %></p>
<div class='container'>
<h1>Listing Businesses</h1>

<table>
  <thead>
    <tr>
<!--       <th>Business name</th>
      <th>Address</th>
      <th>Open at</th>
      <th>Close at</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr> -->
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <ul>
        <p><strong><%= business.business_name %></strong></p>
        <li><%= business.address %></li>
        <li>Opens at: <%= date_time_helper(business.open_at) %></li>
        <li>Closes at: <%= date_time_helper(business.close_at) %></li>
      </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>

</div>
