<p id="notice"><%= notice %></p>
<div class='container'>
<h1>Listing Businesses</h1>

<table>
  <thead>
    <tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <ul>
        <p><strong><a href="/businesses/<%=business.id%>"><%= business.business_name %></a></strong></p>
        <li><%= business.address %></li>
        <li>Opens at: <%= date_time_helper(business.open_at) %></li>
        <li>Closes at: <%= date_time_helper(business.close_at) %></li>
      </ul>
      <div display="none">
        <% @business.servies %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>

</div>
