<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @business.business_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>
<p>
  <strong>Opens at:</strong>
  <%= date_time_helper(@business.open_at) %>
</p>
<p>
  <strong>Closes at:</strong>
  <%= date_time_helper(@business.close_at) %>
</p>

<% if @business.employees.length > 0 %>
  <% @business.employees.each do |employee| %>
    <h2>Available Hours for <%= employee.name %></h2>
    <br>
    <br>

     <img src="<%= employee.photo %>" width="200" height="200" >
     <p><strong><%= employee.description%></strong> </p>
  <% end %>
<% end %>
<br>
<br>

<!-- NEW -->
<%= full_day  %>
<br>
<% if @employee.has_appointments? %>
    <% @employee.appointments.each do |appointment| %>
      <% if DateTime.parse(appointment.start_time.to_s) <= 3.days.from_now && appointment.start_time >= Date.yesterday %>
        <%= date_time_helper(appointment.start_time) %><br>
      <% end %>
    <% end %>
 <% else %>
    <p>I'm sorry, <%= @employee.name %> does not have any available appointments.</p>
<% end %>


<br>
<br>
<%= link_to 'Back', businesses_path %>
<% if owner? %>
    | <%= link_to 'Edit', edit_business_path(@business) %>
    | <%= link_to 'New Appointment', new_employee_appointment_path(@business) %>
<% end %>
