<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employee.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @employee.photo %>
</p>

  <% if @employee.business_id == current_business.id %>
  <%= link_to 'Edit', edit_employee_path(@employee) %> |
  <%= link_to 'New Appointment', new_employee_appointment_path  %>
  <% end %>
<%= link_to 'Back', employees_path %>
