<!DOCTYPE html>
<html>
<head>
  <title>Seatd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <br>
<nav class="nav-container">
  <a href="/">Home</a>
  <a href="/businesses">All Businesses</a>
  <% if logged_in?%>
    <a><%= link_to 'logout', logout_path, method: :delete %></a>
    <a><%= link_to 'Profile', business_path(current_business.id) %></a>
  <% else %>
    <a href="businesses/new">New Business Registration</a>
    <a href="login/new">Business Login</a>
  <% end %>

</nav>
<%= yield %>

</body>
</html>
